{
	admin off
	auto_https off
}

# Rewrite auth header (contains CF auth) to generated API key that hermes expects
:8080 {
	reverse_proxy 127.0.0.1:8642 {
		header_up Authorization "Bearer {env.API_SERVER_KEY}"
	}
}
