[Unit]
Description=qbittorrent cloudflared tunnel
After=download-secrets.service qbittorrent.service
Requires=download-secrets.service
Wants=qbittorrent.service

[Container]
Image=docker.io/cloudflare/cloudflared:2026.5.2
GlobalArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage
Network=qbt.network
Environment=TZ=Pacific/Auckland
EnvironmentFile=/run/qbittorrent-cloudflared/env
Volume=/run/qbittorrent-cloudflared/config.yml:/etc/cloudflared/config.yml:ro
SecurityLabelDisable=true
Exec=tunnel run

[Service]
Restart=always
ExecStartPre=/usr/bin/sh -c 'cat /run/cloudflared-access/access.yml /run/qbittorrent-cloudflared/tunnel.yml /usr/share/containers/systemd/qbittorrent/config.yml > /run/qbittorrent-cloudflared/config.yml'

[Install]
WantedBy=multi-user.target
