# Persistent data volume for larry's container workloads.
#
[Unit]
Description=Data volume (/mnt/data)

[Mount]
What=/dev/disk/by-label/data
Where=/mnt/data
Type=ext4
# configure selinux for the container user
Options=defaults,context=system_u:object_r:container_file_t:s0

[Install]
WantedBy=multi-user.target
